html,
.App {
  height: 100vh;
  background-color: #eee;
  padding: 1em;
}

/* Messages.js */
.messages {
  min-height: 660px;
  overflow-y: scroll;
  max-width: none !important;
}

/* MessagesForm.js */
.message__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

/* Message.js */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}
.message__image {
  padding: 1em;
}
